(
    room: (
        width:  80,
        height: 25,
    ),

    paddle: (
        size:  (2.0, 8.0),
        speed: 2.0,
    ),

    bindings: (
        quit: ["q", "Ctrl+c", "Esc"],
        paddle_left: (
            up:   ["w"],
            down: ["s"],
        ),
        paddle_right: (
            up:   ["k", "Up"],
            down: ["j", "Down"],
        ),
    ),

    chars: (
        empty:                  ' ',
        room_border_vertical:   '-',
        room_border_horizontal: '|',
        room_border_corner:     '=',
        paddle:                 '#',
    ),
)
