(
    room: (
        width:  80,
        height: 25,
    ),

    paddle: (
        size: (2.0, 8.0),
    ),

    chars: (
        empty:                  ' ',
        room_border_vertical:   '-',
        room_border_horizontal: '|',
        room_border_corner:     '=',
        paddle:                 '#',
    ),
)
